.myButton {
        
        -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
        -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
        background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
        
        background-color:#00FFFF;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #057fd0;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px -1px 0px #5b6178;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        
        background-color:#019ad2;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
#loading:hover
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
 }
 .signup				/*Signp form css properties*/
{
margin-left:1000px;
float:top;
margin-top:0px;
width:30%;
background:#CCCC00;
padding:10px;
width:500px;
border-radius:20px;
}
.qqq4
{
border-radius:20px;
padding:10px;
float:left;
zoom:200%;
font-family:"Blackadder ITC", sans-serif;
}
.aab                   /*dont have na account and signup statement css properties!*/
{
border-style:transparent;
border-color:#98bf21;
background:#CCCC00;
margin-left:1000px;
border-radius:20px;
padding:10px;
width:500px;
font-family:"Blackadder ITC", sans-serif;
}

p					/*All paragraphs css properties*/
{
font-family:Bernard MT,Helvetica, sans-serif;
font-size:20px;
}
input.ii			/*list elements of the unordered list(ul)  css properties*/
{
padding:7px;
}
.table
{
width:100px;
}
font				/*font tag css properties*/
{
margin-left:200px;
font-size:500%;
color:white;
font-family:Bernard MT,Helvetica, sans-serif;
}
a:link,a:visited	/*anchor <a> tag for link and visted actions css properties*/
{
text-decoration:none;
color:black;
}
a:hover,a:active	/*anchor <a> tag for hover and active actions css properties*/
{
text-decoration:underline;
}
a.aabd,a.bbb,a.bbb1		/*anchor tag for aabd-'Signup',bbb-'close',bbb1-'Dont have an account???' css properties*/
{
text-decoration:none;
font-family:"Blackadder ITC", sans-serif;
zoom:150%;
}
.qqq2
{
float:bottom;
positon:center;
margin-top:200px;
}